body {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0px;
  background-color: #131313;
  color: #FEFEFE;
}

#navbar {
  overflow: hidden;
  z-index: 15;
  background-color: #131313;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-ul {
  list-style: none;
  float: right;
  margin-right: 20px;
  font-family: menlo;
  font-size: 12px;
  padding-top: 18px;
}

.nav-li {
  display: inline;
}

.nav-brand {
  text-decoration: none;
  font-family: menlo;
  padding-bottom: 5px;
  padding-top: 15px;
  font-size: 52px;
  color: #FEFEFE !important;
  float: left;
  margin-left: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.nav-li a {
  text-decoration: none;
  padding: 10px;
  padding-bottom: 0;
  color: #FEFEFE;
  text-transform: capitalize;
}

a:hover {
  cursor: nesw-resize;
}

.custom-nav {
  padding: 5px;
}

.container {
  width: 70%;
  margin-top: 150px;
}

.aboutme {
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.intro {
  font-family: menlo;
  font-size: 16px;
  line-height: 10px;
}

.heading-name {
  margin-bottom: 0;
  font-size: 56px;
  color: #2B5DEA;
}

.heading-tag {
  font-size: 48px;
  color: #787878;
}

.contact-button {
  font-family: menlo;
  background-color: transparent;
  border: 0px;
  color: #2B5DEA;
  font-size: 16px;
}

.contact-button:hover {
  background-color: transparent;
  border: 0px;
  color: #2B5DEA;
  font-size: 16px;
  border-radius: 0;
  transition: 0.5s;
  margin-left: 15px;
}

#about {
  width: 100%;
  margin: auto;
  margin-top: 50%;
  text-align: left;
  padding-top: 75px;
  padding-left: 35px;
  margin-bottom: 50%;
}

.number-header {
  color: #999;
  font-family: menlo;
  display: inline;
  font-size: 20px;
}

.header-title {
  color: #2B5DEA;
  display: inline;
  text-transform: lowercase;
}

.aboutme-long {
  width: 55%;
  padding: 10px 15px 0px 0px;
  font-size: 18px;
  text-align: left;
  display: inline;
  float: left;
}

.img-box {
  width: 40%;
  height: 70%;
  display: inline;
  float: right;
  border-radius: 15px;
  margin-top: 20px;
}

.aboutme-img {
  width: 100%;
  margin: auto;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  filter: grayscale(100%);
}

.aboutme-img:hover {
  width: 100%;
  margin: auto;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  filter: grayscale(0%);
}

.technologies {
  width: 50%;
  text-align: left;
  margin-left: 0;
  font-family: menlo;
  font-size: 12px;
}

.technologies-left {
  list-style: none;
  display: inline-block;
  padding: 0px;
}

.technologies-right {
  list-style: none; 
  display: inline-block;
  padding: 0;
  padding-left: 40px;
}

li {
  padding: 5px;
}

a {
  color: white;
}

a:hover {
  color: #2B5DEA;
}

#work {
  width: 100%;
  margin: auto;
  margin-top: 50%;
  padding-top: 75px;
  margin-bottom: 50%;
  position: relative;
}

.work-left {
  padding-top: 40px;
  float: left;
  display: inline;
  width: 65%;
  z-index: 4;
}

.work-right {
  padding: 10px;
  padding-top: 70px;
  float: right;
  display: inline;
  width: 45%;
  text-align: right;
  position: absolute;
  right: 0;
  z-index: 5;
}

.project-img {
  width: 100%;
  filter: grayscale(100%);
}

.project-img:hover {
  filter: grayscale(0%);
}

.project-header {
  font-family: menlo;
  font-size: 14px;
  color: #2B5DEA;
}

.project-desc {
  width: 100%;
  padding: 30px;
  font-size: 14px;
  background-color: #1d1d1d;
  text-align: left;
}

.project-tech {
  font-family: menlo;
  font-size: 12px;
}

.project-links a {
  display: inline;
  padding: 10px;
  text-decoration: none;
}

.work2-right {
  padding-top: 130px;
  float: right;
  display: inline;
  width: 65%;
  z-index: 6;
}

.work2-left {
  padding: 10px;
  float: left;
  display: inline;
  width: 45%;
  text-align: left;
  position: absolute;
  top: 600px;
  left: 0;
  z-index: 7;
}

.project-desc2 {
  width: 100%;
  padding: 30px;
  font-size: 14px;
  background-color: #1d1d1d;
  text-align: left;
}