body {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0px;
}

#navbar {
  overflow: hidden;
  z-index: 2;
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-ul {
  list-style: none;
  float: right;
  margin-right: 20px;
  font-family: menlo;
  font-size: 12px;
  padding-top: 18px;
}

.nav-li {
  display: inline;
}

.nav-brand {
  text-decoration: none;
  padding-bottom: 0;
  font-size: 52px;
  color: black !important;
  float: left;
  margin-left: 20px;
  line-height: 30px;
}

.nav-li a {
  text-decoration: none;
  padding: 10px;
  padding-bottom: 0;
  color: black;
  text-transform: capitalize;
}

.custom-nav {
  padding: 5px;
}

.container {
  width: 70%;
  margin-top: 150px;
}

.aboutme {
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.intro {
  font-family: menlo;
  font-size: 16px;
  line-height: 10px;
}

.heading-name {
  margin-bottom: 0;
  font-size: 56px;
}

.heading-tag {
  font-size: 56px;
  color: #666;
}

.contact-button {
  font-family: menlo;
}

#about {
  width: 100%;
  margin: auto;
  margin-top: 50%;
  text-align: left;
  padding-top: 75px;
  padding-left: 35px;
  margin-bottom: 50%;
}

.number-header {
  color: #999;
  font-family: menlo;
  display: inline;
  font-size: 20px;
}

.header-title {
  color: #333;
  display: inline;
  text-transform: capitalize;
}

.aboutme-long {
  width: 55%;
  padding: 10px 15px 0px 0px;
  font-size: 18px;
  text-align: left;
  display: inline;
  float: left;
}

.img-box {
  width: 40%;
  height: 100%;
  display: inline;
  float: right;
}

.aboutme-img {
  width: 80%;
  margin: auto;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.technologies {
  width: 50%;
  text-align: left;
  margin-left: 0;
  font-family: menlo;
  font-size: 12px;
}

.technologies-left {
  list-style: none;
  display: inline-block;
  padding: 0px;
}

.technologies-right {
  list-style: none; 
  display: inline-block;
  padding: 0;
  padding-left: 40px;
}

li {
  padding: 5px;
}